$deep_cove: #130f40;
$deep_koamaru: #30336b;
$exodus_fruit: #686de0;
$carmine_pink: #eb4d4b;
$quince_jelly: #f0932b;
$spiced_butternut: #ffda79;
$white: #fff;

$bg_color: $white;
$text_color: #101235;
$accent_color: #f5f5f5;
$primary_color: #e54e6d;
$placeholder_color: #b0b0b0;
